[submodule "bundle/python-syntax"]
	path = bundle/python-syntax
	url = git@github.com:hdima/python-syntax.git
	ignore = dirty
[submodule "bundle/vim-dm-syntax"]
	path = bundle/vim-dm-syntax
	url = git@github.com:wlue/vim-dm-syntax.git
	ignore = dirty
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
	ignore = dirty
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "bundle/vim-pandoc-syntax"]
	path = bundle/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
